body {
    font-family: 'Lato', sans-serif;
    margin: 0;

}

.flexbox {
    display: flex;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.10);
    padding-left: 240px;
    padding-right: 240px;
    padding-top: 50px;
}

.half-width {
    width: 50%;
}

.half-width h1 {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    margin: 0;
    padding: 0;
    line-height: normal;
}

.red-btn {
    padding: 20px 43px;
    background-color: #E55473;
    ;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
}

.half-width img {
    width: 100%;
}

p {
    color: rgba(66, 51, 51, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.center-alinged {
    text-align: center;
}

.featured-section {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.featured-section div {
    margin-left: 24px;
}
.bg-pink {
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
}

.bg-blue {
    padding-top: 150px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 300px 300px 0px 0px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.bg-gray {
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
}
.extra-flexbox {
    display: flex;
    justify-content: center;
    /* margin-left: 100px;
    margin-right: 100px; */
}
.left-flower {
    width: 570px;
    background-image: url("Flower Asset/bn5.jpg");
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 50px;
}
.right-flower {
    width: 570px;
    background-image: url("Flower Asset/bn6.jpg");
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
#hot-deals-img {
    width: 318px;
    height: 420px;
    flex-shrink: 0;
}

.pink-text {
    color: #E55473
}

.insta-section {
    padding-left: 20%;
    padding-right: 20%;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container div {
    width: 342px;
    height: 396px;
}

.img-container div img {
    width: 90%;
}

.bg-img {
    margin: auto;
    width: 1240px;
    height: 449px;
    border-radius: 8px;
    background-image: url("Flower Asset/Rectangle 9.png");
    background-repeat: no-repeat;
}

.form-style {
    padding-top: 230px;

}

.input-fld {
    width: 700px;
    height: 64px;
    border-radius: 8px;
}

footer {
    margin-top: 128px;
    color: white;
    background-color: #111010;
    height: 449px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}